In [84]:
import pandas as pd
import numpy as np

In [85]:
dfd = pd.concat(
    map(pd.read_csv, ['Divar_Cleaned_19000Record.csv', 'Divar_Cleaned_9000Record_1.csv','Divar_Cleaned_9000Record_2.csv','Divar_Cleaned_6000Record.csv']), ignore_index=True)

In [86]:
dfd.drop(columns=['Unnamed: 0'],axis=1,inplace=True)
dfd

,construct_year,number_of_room,size_metre,Elevator,Parking,Cage,Balcon,main_neighbourhood,price_perMetre_Tooman,floor
0,1369,0,۳۴,0,0,1,0,میدان انقلاب,۴۴٬۱۱۷٬۰۰۰,0
1,۱۳۸۶,۲,۸۰,1,1,1,0,پونک,۷۰٬۰۰۰٬۰۰۰,۳
2,۱۳۹۳,۲,۹۲,1,1,1,0,المهدی، خیابان فکوری (خ. زیتون),۷۶٬۸۴۷٬۰۰۰,۴
3,۱۴۰۱,۳,۱۳۰,1,1,1,0,سهروردی,۹۰٬۰۰۰٬۰۰۰,۳
4,۱۳۹۹,۳,۲۳۰,1,1,1,0,نیاوران,۱۵۲٬۱۷۳٬۰۰۰,۶
...,...,...,...,...,...,...,...,...,...,...
43097,۱۳۷۳,۳,۱۹۵,0,1,1,0,ونک، بلوار ملاصدرا (بلوار ملاصدرا),۷۶٬۹۲۳٬۰۰۰,۲
43098,۱۴۰۱,۳,۲۰۴,1,1,1,0,تهرانپارس غربی,۱۰۰٬۰۰۰٬۰۰۰,۴
43099,۱۳۹۸,۱,۸۰,1,1,1,0,پونک,۸۵٬۰۰۰٬۰۰۰,۳
43100,۱۳۸۶,۳,۱۶۳,1,1,1,0,نیاوران,۱۱۰٬۰۰۰٬۰۰۰,۱
43101,۱۴۰۱,۳,۳۴۰,1,1,1,0,دروس,۱۵۲٬۹۴۱٬۰۰۰,۳

In [87]:
dfd['floor']= dfd['floor'].str.replace('re', 'nan')
dfd['floor']= dfd['floor'].str.replace('nann', 'nan')
dfd['floor']= dfd['floor'].str.replace('۱٬', 'nan')
dfd['floor']= dfd['floor'].str.replace('۵٬', 'nan')
dfd['floor']= dfd['floor'].str.replace('۶٬', 'nan')
dfd['floor']= dfd['floor'].str.replace('۴٬', 'nan')
dfd['floor']= dfd['floor'].str.replace('۳٬', 'nan')
dfd['floor']= dfd['floor'].str.replace('۸٬', 'nan')
dfd['floor']= dfd['floor'].str.replace('خس', 'nan')
dfd['floor']= dfd['floor'].str.replace('نب', 'nan')
dfd['floor']= dfd['floor'].str.replace('ری', 'nan')
dfd['floor']= dfd['floor'].str.replace('نگ', 'nan')
dfd['floor']= dfd['floor'].str.replace('به', 'nan')
dfd['floor']= dfd['floor'].str.replace('فر', 'nan')

In [88]:
dfd['floor']= dfd['floor'].str.replace('⭐️', 'nan')
dfd['floor']= dfd['floor'].str.replace('na', 'nan')
dfd['floor']= dfd['floor'].str.replace('بز', 'nan')
dfd['floor']= dfd['floor'].str.replace('پل', 'nan')
dfd['floor']= dfd['floor'].str.replace('خا', 'nan')
dfd['floor']= dfd['floor'].str.replace('آت', 'nan')
dfd['floor']= dfd['floor'].str.replace('اس', 'nan')
dfd['floor']= dfd['floor'].str.replace('ره', 'nan')
dfd['floor']= dfd['floor'].str.replace('خس', 'nan')
dfd['floor']= dfd['floor'].str.replace('نب', 'nan')
dfd['floor']= dfd['floor'].str.replace('ری', 'nan')
dfd['floor']= dfd['floor'].str.replace('نگ', 'nan')
dfd['floor']= dfd['floor'].str.replace('به', 'nan')
dfd['floor']= dfd['floor'].str.replace('فر', 'nan')

In [89]:
dfd['floor']= dfd['floor'].str.replace('مگ', 'nan')
dfd['floor']= dfd['floor'].str.replace('مل', 'nan')
dfd['floor']= dfd['floor'].str.replace('سر', 'nan')
dfd['floor']= dfd['floor'].str.replace('دپ', 'nan')
dfd['floor']= dfd['floor'].str.replace('آر', 'nan')
dfd['floor']= dfd['floor'].str.replace('صد', 'nan')
dfd['floor']= dfd['floor'].str.replace('Az', 'nan')
dfd['floor']= dfd['floor'].str.replace('سی', 'nan')
dfd['floor']= dfd['floor'].str.replace('مه', 'nan')
dfd['floor']= dfd['floor'].str.replace('قا', 'nan')
dfd['floor']= dfd['floor'].str.replace('مد', 'nan')
dfd['floor']= dfd['floor'].str.replace('بخ', 'nan')
dfd['floor']= dfd['floor'].str.replace('اص', 'nan')
dfd['floor']= dfd['floor'].str.replace('آس', 'nan')

In [90]:
dfd['floor']= dfd['floor'].str.replace('كل', 'nan')
dfd['floor']= dfd['floor'].str.replace('می', 'nan')
dfd['floor']= dfd['floor'].str.replace('شي', 'nan')
dfd['floor']= dfd['floor'].str.replace('وی', 'nan')
dfd['floor']= dfd['floor'].str.replace('شر', 'nan')
dfd['floor']= dfd['floor'].str.replace('پر', 'nan')
dfd['floor']= dfd['floor'].str.replace('دی', 'nan')
dfd['floor']= dfd['floor'].str.replace('رس', 'nan')
dfd['floor']= dfd['floor'].str.replace('سپ', 'nan')
dfd['floor']= dfd['floor'].str.replace('تش', 'nan')
dfd['floor']= dfd['floor'].str.replace('با', 'nan')
dfd['floor']= dfd['floor'].str.replace('⚜ا', 'nan')
dfd['floor']= dfd['floor'].str.replace('هف', 'nan')
dfd['floor']= dfd['floor'].str.replace('یو', 'nan')

In [98]:
dfd['floor']= dfd['floor'].str.replace('مس', 'nan')
dfd['floor']= dfd['floor'].str.replace('ام', 'nan')
dfd['floor']= dfd['floor'].str.replace('نو', 'nan')
dfd['floor']= dfd['floor'].str.replace('زی', 'nan')
dfd['floor']= dfd['floor'].str.replace('شخ', 'nan')
dfd['floor']= dfd['floor'].str.replace('گر', 'nan')
dfd['floor']= dfd['floor'].str.replace('آژ', 'nan')
dfd['floor']= dfd['floor'].str.replace('کو', 'nan')
dfd['floor']= dfd['floor'].str.replace('رُ', 'nan')
dfd['floor']= dfd['floor'].str.replace('هو', 'nan')
dfd['floor']= dfd['floor'].str.replace('ما', 'nan')
dfd['floor']= dfd['floor'].str.replace('او', 'nan')
dfd['floor']= dfd['floor'].str.replace('پا', 'nan')
dfd['floor']= dfd['floor'].str.replace('نم', 'nan')


dfd['floor']= dfd['floor'].str.replace('مش', 'nan')
dfd['floor']= dfd['floor'].str.replace('کل', 'nan')
dfd['floor']= dfd['floor'].str.replace('کا', 'nan')
dfd['floor']= dfd['floor'].str.replace('قد', 'nan')
dfd['floor']= dfd['floor'].str.replace('تی', 'nan')
dfd['floor']= dfd['floor'].str.replace('عم', 'nan')
dfd['floor']= dfd['floor'].str.replace('مث', 'nan')
dfd['floor']= dfd['floor'].str.replace('شو', 'nan')
dfd['floor']= dfd['floor'].str.replace('سف', 'nan')
dfd['floor']= dfd['floor'].str.replace('دف', 'nan')
dfd['floor']= dfd['floor'].str.replace('am', 'nan')
dfd['floor']= dfd['floor'].str.replace('اه', 'nan')
dfd['floor']= dfd['floor'].str.replace('حا', 'nan')
dfd['floor']= dfd['floor'].str.replace('ای', 'nan')

dfd['floor']= dfd['floor'].str.replace('اژ', 'nan')
dfd['floor']= dfd['floor'].str.replace('نی', 'nan')
dfd['floor']= dfd['floor'].str.replace('اف', 'nan')
dfd['floor']= dfd['floor'].str.replace('دا', 'nan')

In [99]:
dfd = dfd[dfd['floor']!='nan']

In [100]:
dfd = dfd[dfd['floor']!=None]

In [101]:
dfd = dfd[dfd['floor']!='nann']

In [103]:
def find_right_floor(floor):
    if floor!='nann':
        if int(floor)>30:
            return 'nan'
        else:
            return floor
    

dfd['floor']=dfd['floor'].apply(find_right_floor)

In [104]:
dfd['floor'].unique()

array(['0', '۳', '۴', '۶', '۸', '۷', '۵', '۲', '۱۱', '۲۰', '۱', '۹', '۱۶',
       '۱۲', '۱۸', '۱۰', '۱۴', '۲۴', '۳۰', '۱۷', '۲۶', '۲۳', '+۳', '۲۲',
       '۱۳', '۲۱', '۲۹', '۲۵', 'nan', '۲۷', '۱۵', '۱۹', '۲۸', '20', '-1'],
      dtype=object)

In [106]:
dfd = dfd[dfd['floor']!='nan']
dfd

,construct_year,number_of_room,size_metre,Elevator,Parking,Cage,Balcon,main_neighbourhood,price_perMetre_Tooman,floor
0,1369,0,۳۴,0,0,1,0,میدان انقلاب,۴۴٬۱۱۷٬۰۰۰,0
1,۱۳۸۶,۲,۸۰,1,1,1,0,پونک,۷۰٬۰۰۰٬۰۰۰,۳
2,۱۳۹۳,۲,۹۲,1,1,1,0,المهدی، خیابان فکوری (خ. زیتون),۷۶٬۸۴۷٬۰۰۰,۴
3,۱۴۰۱,۳,۱۳۰,1,1,1,0,سهروردی,۹۰٬۰۰۰٬۰۰۰,۳
4,۱۳۹۹,۳,۲۳۰,1,1,1,0,نیاوران,۱۵۲٬۱۷۳٬۰۰۰,۶
...,...,...,...,...,...,...,...,...,...,...
43097,۱۳۷۳,۳,۱۹۵,0,1,1,0,ونک، بلوار ملاصدرا (بلوار ملاصدرا),۷۶٬۹۲۳٬۰۰۰,۲
43098,۱۴۰۱,۳,۲۰۴,1,1,1,0,تهرانپارس غربی,۱۰۰٬۰۰۰٬۰۰۰,۴
43099,۱۳۹۸,۱,۸۰,1,1,1,0,پونک,۸۵٬۰۰۰٬۰۰۰,۳
43100,۱۳۸۶,۳,۱۶۳,1,1,1,0,نیاوران,۱۱۰٬۰۰۰٬۰۰۰,۱
43101,۱۴۰۱,۳,۳۴۰,1,1,1,0,دروس,۱۵۲٬۹۴۱٬۰۰۰,۳

In [108]:
dfd.to_csv('Divar_Full_14011021_2.csv')